@font-face {
  src: url("/assets/fonts/itc-avant-garde-gothic-lt-bold.ttf");
}

.text {
    -fx-font-family: ITC Avant Garde Gothic LT Bold;
}

#pane {
    -fx-background-color: #181c25;
}

.button {
    -fx-background-color: rgba(35, 41, 54, 0.7);
    -fx-border-color: #dbdbdb;
    -fx-text-fill: #dbdbdb;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.button:hover {
    -fx-border-width: 3px;
}

.button:focused {
    -fx-border-width: 3px;
}

#btExit {
    -fx-background-color: rgba(183,140,37,0.8);
    -fx-border-color: #ffce1f;
}

#btInventory {
    -fx-background-color: rgba(183,140,37,0.8);
    -fx-border-color: #ffce1f;
}