#rbHelmet .radio{
    -fx-background-image: url("/assets/images/helmet_icon.jpg");
}

#rbChest .radio{
    -fx-background-image: url("/assets/images/chest_icon.jpg");
}

#rbArm .radio{
    -fx-background-image: url("/assets/images/arm_icon.jpg");
}

#rbBoot .radio{
    -fx-background-image: url("/assets/images/boot_icon.jpg");
}

#rbClassItem .radio{
    -fx-background-image: url("/assets/images/class_icon.jpg");
}

#rbExotic .radio {
    -fx-background-image: url("/assets/images/exotic_gear.jpg");
}

#rbLegendary .radio {
    -fx-background-image: url("/assets/images/legendary_gear.jpg");
}

#rbArc .radio {
    -fx-background-image: url("/assets/images/arc_icon.png");
}

#rbSolar .radio {
    -fx-background-image: url("/assets/images/solar_icon.png");
}

#rbVoid .radio {
    -fx-background-image: url("/assets/images/void_icon.png");
}

#rbNoMasterprice .radio {
    -fx-background-image: url("/assets/images/master_icon.png");
    -fx-background-color: rgba(82, 47, 101, 0.3);
}

#rbYesMasterprice .radio {
    -fx-background-image: url("/assets/images/master_icon.png");
    -fx-background-color: rgba(255, 206, 31, 0.3);
}
