#lbTitle {
    -fx-text-fill: #dbdbdb;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.center {
    -fx-background-color: rgba(35, 41, 54, 0.7);
    -fx-border-color: rgba(219, 219, 219, 0.3);
}

.label {
  -fx-text-fill: #dbdbdb;
  -fx-font-weight: bold;
  -fx-font-size: 15;
}

#rbHelmet .radio{
    -fx-background-image: url("/assets/images/helmet_icon.jpg");
}

#rbChest .radio{
    -fx-background-image: url("/assets/images/chest_icon.jpg");
}

#rbArm .radio{
    -fx-background-image: url("/assets/images/arm_icon.jpg");
}

#rbBoot .radio{
    -fx-background-image: url("/assets/images/boot_icon.jpg");
}

#rbClassItem .radio{
    -fx-background-image: url("/assets/images/class_icon.jpg");
}

#rbExotic .radio {
    -fx-background-image: url("/assets/images/exotic_gear.jpg");
}

#rbLegendary .radio {
    -fx-background-image: url("/assets/images/legendary_gear.jpg");
}

#rbArc .radio {
    -fx-background-image: url("/assets/images/arc_icon.png");
}

#rbSolar .radio {
    -fx-background-image: url("/assets/images/solar_icon.png");
}

#rbVoid .radio {
    -fx-background-image: url("/assets/images/void_icon.png");
}

#rbNoMasterprice .radio {
    -fx-background-image: url("/assets/images/no_masterprice.jpg");
}

#rbYesMasterprice .radio {
    -fx-background-image: url("/assets/images/yes_masterprice.jpg");
}
