@font-face {
  src: url("/assets/fonts/itc-avant-garde-gothic-lt-bold.ttf");
}

.text {
    -fx-font-family: ITC Avant Garde Gothic LT Bold;
}

.center {
    -fx-background-color: rgba(35, 41, 54, 0.7);
    -fx-border-color: rgba(219, 219, 219, 0.3);
}

#pane {
    -fx-background-color: #181c25;
}

.label {
  -fx-text-fill: #dbdbdb;
  -fx-font-weight: bold;
  -fx-font-size: 15;
}

#lbTitle {
    -fx-text-fill: #dbdbdb;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}
