.button {
    -fx-background-color: #232936;
    -fx-border-color: #dbdbdb;
    -fx-border-width: 5px;
}

.button:hover {
    -fx-border-width: 7px;
}

.label {
  -fx-text-fill: #dbdbdb;
  -fx-font-weight: bold;
  -fx-font-size: 22;
}

#btHunter {
    -fx-border-color: #0095E9;
    -fx-background-image: url("/assets/images/hunter_logo.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#btTitan {
    -fx-border-color: #E43B44;
    -fx-background-image: url("/assets/images/titan_logo.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#btWarlock {
    -fx-border-color: #FEE761;
    -fx-background-image: url("/assets/images/warlock_logo.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#btReturn {
    -fx-background-color: rgba(183,140,37,0.8);
    -fx-border-color: #ffce1f;
    -fx-text-fill: #dbdbdb;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-border-width: 1px;
}

#btReturn:focused,
#btReturn:hover {
    -fx-underline: true;
    -fx-border-width: 3px;
}